[core]
	autocrlf = true
[user]
	email = yourEmailAdress@mail.com
	name = yourUserName
[alias]
	ck = checkout
	cm = commit -m
	br = branch
	st = status
	ad = add .
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
